@media screen and (min-width: 1200px) and (max-width: 1902px) {
	body {
		padding: 5.104166vw 0 0;
	}
	h2 {
		font-size: 2.34375vw;
	}
	.wrap {
		max-width: 94.6875vw;
		width: 94.6875vw;
	}
	.btn {
		border-radius: 2.083333vw;
		height: 2.34375vw;
		padding: 0.520833vw 1.25vw;
		font-size: 0.9375vw;
	}



	/*----------b-right-------------------*/
	#auth-panel {
		right: -32.2395vw;
		width: 31.5625vw;
		-moz-box-shadow: 0px 0.208333vw 0.78125vw rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 0px 0.208333vw 0.78125vw rgba(0, 0, 0, 0.1);
		box-shadow: 0px 0.208333vw 0.78125vw rgba(0, 0, 0, 0.1);
	}
	#close-auth-panel {
		top: 2.760416vw;
		right: 2.65625vw;
		width: 1.302083vw;
		height: 1.302083vw;
	}
	#close-auth-panel:before {
		width: 1.302083vw;
	}
	#close-auth-panel:after {
		width: 1.302083vw;
	}

	#auth-panel-title {
		top: 4.0625vw;
		font-size: 1.25vw;
	}

	#choose-auth {
		top: 8.75vw;
		left: calc(50% - 9.088541vw);
		width: 18.17708vw;
	}

	.btn-auth-choose {
		padding: 0 0.416666vw;
		font-size: 1.041666vw;
	}
	.btn-auth-choose:after {
		bottom: -0.41666vw;
	}

	#auth-transform {
		top: 12.55208vw;
	}
	.auth-wrap {
		max-width: 18.17708vw;
	}

	.auth-row {
		margin-top: 2.083333vw;
	}
	.auth-row .btn {
		width: 8.333333vw;
	}
	.auth-google {
		background-size: 0.9375vw;
	}
	.auth-facebook {
		background-size: 0.573vw;
	}

	.auth input {
		width: 18.17708vw;
		height: 2.083333vw;
		padding: 0.572916vw;
		margin-bottom: 1.041666vw;
		font-size: 0.9375vw;
		line-height: 0.9375vw;
	}

	/* Customize the label (the checkbox-outer) */
	.checkbox-outer {
		padding-left: 1.822916vw;
		margin-bottom: 1.041666vw;
		font-size: 0.9375vw;
	}

	  /* Create a custom checkbox */
	.checkmark {
		top: 0.15625vw;
		width: 0.833333vw;
		height: 0.833333vw;
	}

	  /* Style the checkmark/indicator */
	.checkbox-outer .checkmark:after {
		left: 0.208333vw;
		width: 0.260416vw;
		height: 0.520833vw;
	}

	.btn.submit {
		margin: 1.041666vw 0 0;
	}

	.auth-text {
		margin: 2.604166vw auto 0;
	}
	.auth-text:before,
	.auth-text:after {
		width: 5.3125vw;
		top: 0.46875vw;
	}
	.auth-text:before {
		left: -6.09375vw;
	}
	.auth-text:after {
		right: -6.09375vw;
	}
	/*----------e-right-------------------*/



	/*----------b-top---------------------*/
	#top {
		font-size: 0.9375vw;
		line-height: 0.9375vw;
	}

	/*--top-1--*/
	#top-1 {
		padding: 0.364583vw 2.65625vw 0.3125vw 2.65625vw;
		line-height: 0.9375vw;
	}

	.top-1a {
		margin-right: 3.333333vw;
	}

	#langs {
		margin-left: 17.34375vw;
	}
	.lang {
		margin-left: 1.5625vw;
	}

	.lang:before {
		left: -0.78125vw;
		height: 1.09375vw;
	}
	/*--top-2--*/
	#top-2 {
		padding: 0 2.65625vw;
		height: 3.489583vw;
	}

	#logo {
		margin: auto 4.21875vw auto 0.15625vw;
	}
	#logo img {
		max-height: 1.875vw;
	}

	/*-btnburger-*/
	#btn-cat {
		width: 10.9375vw;
		height: 2.03125vw;
		font-size: 1.041666vw;
		padding: 0.520833vw 0.677083vw 0.572916vw 2.34375vw;
	}
	.btn-burger {
		top: 0.572916vw;
		left: 0.677083vw;
		width: 1.041666vw;
		height: 0.833333vw;
	}
	.btn-burger-1,
	.btn-burger-2,
	.btn-burger-3 {
		width: 1.041666vw;
	}

	/*-top-search-*/
	#input-search {
		width: 31.92708vw;
		height: 2.03125vw;
		font-size: 0.9375vw;
		line-height: 0.9375vw;
		padding: 0.520833vw 0.677083vw 0.572916vw 0.677083vw;

	}
	#input-lens {
		top: 0.46875vw;
		right: 0.520833vw;
		width: 0.9375vw;
		height: 0.9375vw;
	}
	/*-top-right-*/
	#btn-person {
		height: 1.927083vw;
		padding-left: 1.927083vw;
		font-size: 0.78125vw;
	}

	.btn-top {
		margin-left: 4.21875vw;
	}
	.btn-top-inner {
		height: 2.5vw;
		width: 2.5vw;
	}
	.topcounter {
		width: 1.145833vw;
		height: 1.145833vw;
		padding-top: 0.104166vw;
		-moz-box-shadow: 0px 0.208333vw 0.208333vw rgba(0, 0, 0, 0.25);
		-webkit-box-shadow: 0px 0.208333vw 0.208333vw rgba(0, 0, 0, 0.25);
		box-shadow: 0px 0.208333vw 0.208333vw rgba(0, 0, 0, 0.25);
	}

	/*----------e-TOP---------------------*/

	/*----------b-main-section------------*/
	#main-section {
		padding-left: 24.0625vw;
	}

	/*-----b-nav-left-----------*/
	#nav-left {
		width: 20.46875vw;
		height: 32.91666vw;
		-moz-box-shadow: 0px 0.208333vw 0.78125vw rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 0px 0.208333vw 0.78125vw rgba(0, 0, 0, 0.1);
		box-shadow: 0px 0.208333vw 0.78125vw rgba(0, 0, 0, 0.1);
		font-size: 1.041666vw;
		line-height: 0.9375vw;
	}
	#nav-left:after {
		height: 3.125vw;
	}
	#nav-left:before {
		top: 0.260416vw;
		left: 13.33333vw;
		width: 1.197916vw;
		height: 1.197916vw;
	}
	#nav-left:hover:before {
		top: -0.57291vw;
	}
	#nav-left:hover {
		height: 41.19791vw;
	}
	#nav-left-inner {
		width: 20.46875vw;
	}
	#nav-left:hover #nav-left-inner {
		width: 94.6875vw;
	}
	.cat {
		width: 20.46875vw;
		min-height: 2.447916vw;
	}
	.cat-title {
		padding: 0.729166vw 2.8125vw 0.78125vw 3.645833vw;

	}
	.cat-img {
		top: calc(50% - 0.729166vw);
		left: 0.989583vw;
		width: 1.458333vw;
		height: 1.458333vw;
	}
	.cat-title:after {
		/* top: 0.833333vw; */
		top: calc(50% - 0.416666vw);
		right: 1.197916vw;
		width: 0.572916vw;
		height: 0.572916vw;
	}
	.subcats {
		left: 20.46875vw;
	}
	.cat:hover .subcats {
	}
	.sc-popular {
		padding-top: 1.145833vw;
		width: 18.07291vw;
	}
	.sc-popular-title {
		margin: 0 auto 1.614583vw auto;
	}
	.sc-popular-a {
		margin: 0 auto 1.302083vw 1.71875vw;
	}
	.sc-col {
		padding-top: 1.145833vw;
		width: 18.69791vw;
	}
	.sc-title {
		margin: 1.041666vw auto 1.041666vw 0.833333vw;
	}
	.sc-a {
		margin: 0 auto 0.78125vw 1.979166vw;
	}
	.cat-banner {
		width: 18.69791vw;
	}
	.cat-banner-div {
		margin: 1.25vw 0 auto 0.572916vw;
	}
	.cat-banner-div img {
		max-width: 17.08333vw;
		max-height: 35.15625vw;
	}
	.cat-banner-div .btn {
		bottom: 1.510416vw;
		padding-left: 1.822916vw;
		padding-right: 1.822916vw;
	}

	#show-all-cats { 
		top: 30.72916vw;
		font-size: 1.041666vw;
		line-height: 1.145833vw;
		padding-right: 2.291666vw;
	}
	#show-all-cats:before {
		top: -0.15625vw;
		width: 1.510416vw;
		height: 1.510416vw;
		border-radius: 0.78125vw;
		-moz-box-shadow: 0px 0.208333vw 0.520833vw rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 0px 0.208333vw 0.520833vw rgba(0, 0, 0, 0.1);
		box-shadow: 0px 0.208333vw 0.520833vw rgba(0, 0, 0, 0.1);
	}
	#show-all-cats:after {
		top: 0.208333vw;
		right: 0.46875vw;
		width: 0.520833vw;
		height: 0.520833vw;
	}
	#nav-left:hover #show-all-cats {
		top: 39.01041vw;
	}
	/*-----e-nav-left-----------*/

	/*-----b-main-slider--------*/
	#main-slick {
		margin: 1.354166vw 0 0.9375vw;
		max-width: 70.625vw;
		max-height: 23.125vw;
	}
	#main-slick img {
		max-width: 70.625vw;
		max-height: 23.125vw;
	}
	#main-slick-arrows {
		top: 11.30208vw;
	}
	.sl-arrow {
		width: 4.010416vw;
		height: 4.010416vw;
		border-radius: 2.03125vw;
		-moz-box-shadow: 0px 0.208333vw 0.78125vw rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 0px 0.208333vw 0.78125vw rgba(0, 0, 0, 0.1);
		box-shadow: 0px 0.208333vw 0.78125vw rgba(0, 0, 0, 0.1);
	}
	.sl-arrow:after {
		top: 1.25vw;
		width: 1.510416vw;
		height: 1.510416vw;
	}
	.sl-arrow.l {
		left: -1.40625vw;
	}
	.sl-arrow.r {
		right: -1.40625vw;
	}
	.sl-arrow.l:after {
		left: 1.614583vw;
	}
	.sl-arrow.r:after {
		right: 1.614583vw;
		-webkit-transform: rotate(-135deg);
		-ms-transform: rotate(-135deg);
		transform: rotate(-135deg);
	}

	#main-sub-slick-outer {
		height: 7.5vw;
	}
	#main-sub-slick {
		width: 72.1875vw;
		left: -0.78125vw;
	}
	#main-sub-slick img {
		width: 22.5vw;
		height: 7.5vw;
		margin: 0 0.78125vw;
	}

	/*-----e-main-slider--------*/
	/*----------e-main-section------------*/

	/*----------b-sales-leaders-----------*/
	#sales-leaders {
		margin-top: 3.020833vw;
	}

	.row-items {
	}

	.item {
		width: 14.42708vw;
		min-height: 18.22916vw;
		padding: 0.520833vw;
	}
	.item:last-child {
	}

	.item:before {
		box-shadow: 0px 0.208333vw 0.78125vw rgba(0, 0, 0, 0.1);
	}
	.item:hover:before {
		bottom: -1.45833vw;
		left: -0.3125vw;
		right: -0.3125vw;
	}

	.item-top-act {
		top: 0.729166vw;
		width: 1.302083vw;
		height: 1.302083vw;
	}

	.item-compare {
		right: 3.072916vw;
	}
	.item-like {
		right: 0.729166vw;
	}
	.item:hover .item-compare {
		right: 2.760416vw;
	}
	.item:hover .item-like {
		right: 0.416666vw;
	}

	.item-img-outer {
		top: 0.520833vw;
		right: 0.520833vw;
		left: 0.520833vw;
		height: 9.375vw;
	}
	.item:hover .item-img-outer {
		right: 0.208333vw;
		left: 0.208333vw;
		height: 10.41666vw;
	}

	.item-count-row {
		top: 10.41666vw;
	}
	.item:hover .item-count-row {
		top: 11.45833vw;
	}
	.item-count {
		width: 2.135416vw;
		height: 1.25vw;
	}

	.item-count-act {
		width: 1.25vw;
		height: 1.25vw;
	}
	.item-count-act:before {
		width: 0.572916vw;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	.item-inc:after {
		height: 0.572916vw;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	.item-title {
		left: 0.729166vw;
		right: 0.729166vw;
		top: 12.5vw;
		font-size: 0.833333vw;
	}
	.item:hover .item-title {
		top: 13.54166vw;
	}

	.item-price-row {
		bottom: 0.625vw;
		left: 0.572916vw;
		right: 0.729166vw;
		font-size: 1.302083vw;
	}
	.item:hover .item-price-row {
		bottom: -0.83333vw;
		left: 0.520833vw;
		right: 0.520833vw;
	}

	.item-price:after {
		font-size: 0.729166vw;
	}

	.item-add {
		padding-top: 0.572916vw;
		padding-right: 2.5vw;
		background-position: right 1.25vw center;
		background-size: 1.041666vw;
	}
	.item-add.more {
		padding-left: 0.625vw;
		padding-right: 1.5625vw;
		background-position: right 0.572916vw center;
	}

	/*----------e-sales-leaders-----------*/
}/*1200-1903*/