:root {
	--text: #262626;
	--white: #FBFBFB;
	--gray: #838383;
	--main: #F7941E;
}

/* TODO Написати нормальні назви */

/* * {
	outline: 1px solid rgba(255,0,0,0.2);
} */

body {
	margin: 0;
	padding: 98px 0 0;
	font-family: 'Roboto';
	/* font-family: 'Roboto Condensed'; */
	color: var(--text);
	font-weight: 400;
}

.invisible {
	display: none;
}

a {
	text-decoration: none;
	color: var(--text);
}

h2 {
	font-family: 'Roboto Condensed';
	font-size: 45px;
	line-height: 140%;
	text-align: center;
	font-weight: 400;
}

button {
	outline: none;
	font: inherit;
	padding: 0;
	border: none;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.wrap {
	max-width: 1818px;
	width: 1818px;
	margin: 0 auto 0 auto;
}

#eclipse {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -10;
	background-color: rgba(38, 38, 38, 0);
	transition: z-index 0s linear 0.3s, background-color 0.3s ease 0s;
}
#eclipse.notop {
	z-index: 90;
	background: rgba(38, 38, 38, 0.3);
	transition: z-index 0s linear 0s, background-color 0.3s ease 0s;
}
#eclipse.full {
	z-index: 200;
	background: rgba(38, 38, 38, 0.3);
	transition: z-index 0s linear 0s, background-color 0.3s ease 0s;
}

.btn {
	border-radius: 40px;
	height: 45px;
	background-color: var(--main);
	color: var(--white);
	padding: 10px 24px;
	box-sizing: border-box;
	font-size: 18px;
	letter-spacing: 0.04em;
}



/*----------b-right-------------------*/
#auth-panel {
	position: fixed;
	right: -619px;
	top: 0;
	bottom: 0;
	width: 606px;
	z-index: 210;
	background-color: white;
	transition: right 0.3s ease;
	-moz-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}
#auth-panel.active {
	right: 0;
}
#close-auth-panel {
	position: absolute;
	top: 53px;
	right: 51px;
	width: 25px;
	height: 25px;
}
#close-auth-panel:before {
	content: '';
	position: absolute;
	width: 25px;
	height: 2px;
	background-color: #515151;
	border-radius: 2px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	-ms-transform: translate(-50%, -50%) rotate(45deg);
	transform: translate(-50%, -50%) rotate(45deg);
}
#close-auth-panel:after {
	content: '';
	position: absolute;
	width: 25px;
	height: 2px;
	background-color: #515151;
	border-radius: 2px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	-ms-transform: translate(-50%, -50%) rotate(-45deg);
	transform: translate(-50%, -50%) rotate(-45deg);
}

#auth-panel-title {
	position: absolute;
	/* top: 128px; */
	top: 78px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	font-size: 24px;
	font-weight: 500;
}

#choose-auth {
	position: absolute;
	/* top: 228px; */
	top: 168px;
	left: calc(50% - 174.5px);
	width: 349px;
	justify-content: space-between;
	display: flex;
}

.btn-auth-choose {
	position: relative;
	padding: 0 8px;
	font-size: 20px;
	transition: color 0.3s ease;
}
.btn-auth-choose:after {
	content: '';
	position: absolute;
	bottom: -8px;
	left: 0;
	right: 100%;
	height: 1px;
	background-color: var(--text);
	transition: background-color 0.3s ease, right 0.3s ease;
}
.btn-auth-choose:hover:after {
	right: 0;
}
.btn-auth-choose.active {
	color: var(--main);
}
.btn-auth-choose.active:after {
	right: 0;
	background-color: var(--main);
}

#auth-transform {
	position: absolute;
	/* top: 301px; layout */
	top: 241px;
	left: 0px;
	width: 200%;
	transition: transform 0.3s ease;
	display: flex;
}
#auth-transform.active {
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.auth {
	position: relative;
	width: 50%;
}
.auth-wrap {
	position: relative;
	max-width: 349px;
	margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.auth-row {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}
.auth-row .btn {
	background-repeat: no-repeat;
	background-position: center;
	width: 160px;
}
.auth-google {
	background-color: #FF6356;
	background-image: url(../img/google.svg);
}
.auth-facebook {
	background-color: #4267B2;
	background-image: url(../img/facebook.svg);
}

.auth form {
	display: flex;
	flex-direction: column;
}

.auth input {
	width: 349px;
	height: 40px;
	padding: 11px;
	background: #FFFFFF;
	border: 1px solid rgba(38, 38, 38, 0.45);
	box-sizing: border-box;
	border-radius: 2px;	
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 18px;
}

/* Customize the label (the checkbox-outer) */
.checkbox-outer {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 20px;
	cursor: pointer;
	font-size: 18px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
  
  /* Hide the browser's default checkbox */
.checkbox-outer input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  /* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 3px;
	left: 0;
	width: 16px;
	height: 16px;
	background: #FFFFFF;
	border: 1px solid rgba(38, 38, 38, 0.45);
	box-sizing: border-box;
	border-radius: 2px;
}
  
  /* On mouse-over, add a grey background color */
.checkbox-outer:hover input ~ .checkmark {
	/* background-color: #ccc; */
}
  
  /* When the checkbox is checked, add a blue background */
.checkbox-outer input:checked ~ .checkmark {
	/* background-color: #2196F3; */
}
  
  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	visibility: hidden;
}
  
  /* Show the checkmark when checked */
.checkbox-outer input:checked ~ .checkmark:after {
	visibility: visible;
}
  
  /* Style the checkmark/indicator */
.checkbox-outer .checkmark:after {
	content: "";
	position: absolute;
	left: 4px;
	top: 0px;
	width: 5px;
	height: 10px;
	border: solid var(--main);
	border-width: 0 1px 1px 0;
	border-radius: 1px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.btn.submit {
	margin: 20px 0 0;
	width: 100%;
}

.auth-text {
	position: relative;
	margin: 50px auto 0;
}
.auth-text:before,
.auth-text:after {
	content: '';
	position: absolute;
	width: 102px;
	height: 1px;
	top: 9px;
	background-color: rgba(38, 38, 38, 0.45);
}
.auth-text:before {
	left: -117px;
}
.auth-text:after {
	right: -117px;
}


/*----------e-right-------------------*/



/*----------b-top---------------------*/
#top {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	font-size: 18px;
	line-height: 18px;
}

/*--top-1--*/
#top-1 {
	display: flex;
	padding: 7px 51px 6px 51px;
	background-color: white;
	line-height: 18px;
}

#top-1 nav {
	margin-right: auto;
	display: flex;
}

.top-1a {
	margin-right: 64px;
}
.top-1a:last-child {
	margin-right: 0;
}

#langs {
	display: flex;
	margin-left: 333px;
}
.lang {
	position: relative;
	margin-left: 30px;
	color: var(--gray);
}
.lang.active {
	color: var(--text);
}
.lang:before {
	content: '';
	position: absolute;
	top: 50%;
	left: -15px;
	height: 21px;
	width: 1px;
	background-color: var(--gray);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.lang:first-child {
	margin-left: 0;
}
.lang:first-child:before {
	display: none;
}

/*--top-2--*/
#top-2 {
	padding: 0 51px;
	background-color: #2a2a2a;
	display: flex;
	color: var(--white);
	height: 67px;
}

#logo {
	margin: auto 81px auto 3px;
}
#logo img {
	object-position: center;
	max-height: 36px;
	object-fit: contain;
}

#top-2-group {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

#top-2-group a {
	color: var(--white);
}

/*-btnburger-*/
#btn-cat {
	position: relative;
	width: 210px;
	height: 39px;
	background-color: #434343;
	border-radius: 2px;
	font-size: 20px;
	padding: 10px 13px 11px 45px;
	box-sizing: border-box;
}
.btn-burger {
	position: absolute;
	top: 11px;
	left: 13px;
	width: 20px;
	height: 16px;
}
.btn-burger-1,
.btn-burger-2,
.btn-burger-3 {
	position: absolute;
	width: 20px;
	height: 2px;
	left: 0;
	background-color: var(--white);
	border-radius: 2px;
}
.btn-burger-1 {
	top: 0;
}
.btn-burger-2 {
	top: calc(50% - 1px);
}
.btn-burger-3 {
	bottom: 0;
}

/*-top-search-*/
#searchform {
	position: relative;
	margin: 0 auto;
}
#input-search {
	width: 613px;
	height: 39px;
	font-size: 18px;
	border: none;
	border-radius: 2px;
	line-height: 18px;
	padding: 10px 13px 11px 13px;
	box-sizing: border-box;

}
#input-lens {
	position: absolute;
	top: 9px;
	right: 10px;
	width: 18px;
	height: 18px;
	background-color: transparent;
	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: none;
}
/*-top-right-*/
#btn-person {
	height: 37px;
	padding-left: 37px;
	background-image: url(../img/user.svg);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
	font-size: 15px;
	font-weight: 500;
	text-align: left;
}

.btn-top {
	margin-left: 81px;
	height: 100%;
	border-radius: 2px;
	display: flex;
}
.btn-top.active {
	background-color: rgba(255, 255, 255, 0.2);
}
#btn-balance .btn-top-inner {
	background-image: url(../img/balance.svg);
}
#btn-heart .btn-top-inner {
	background-image: url(../img/heart.svg);
}
#btn-cart .btn-top-inner {
	background-image: url(../img/cart.svg);
}
.btn-top-inner {
	position: relative;
	margin: auto 0;
	height: 48px;
	width: 48px;
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: contain;
}
.topcounter {
	position: absolute;
	box-sizing: border-box;
	padding-top: 2px;
	top: 0;
	right: 0;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background-color: var(--gray);
	-moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
}
.topcounter.active {
	background-color: var(--main);
}

/*----------e-TOP---------------------*/

/*----------b-main-section------------*/
#main-section {
	position: relative;
	display: flex;
	padding-left: 462px;
	box-sizing: border-box;
}

/*-----b-nav-left-----------*/
#nav-left {
	position: absolute;
	top: 0;
	left: 0;
	width: 393px;
	height: 632px;
	background-color: white;
	border-radius: 0px 0px 2px 2px;
	-moz-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	font-size: 20px;
	line-height: 18px;
	z-index: 100;
	transition: height 0.3s ease;
}
#nav-left:after {
	content: '';
	background-color: white;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 60px;
	z-index: 3;
}
#nav-left:before {
	content: '';
	position: absolute;
	top: 5px;
	left: 256px;
	width: 23px;
	height: 23px;
	z-index: 1;
	background-color: white;
	border-radius: 2px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	transition: top 0.3s ease-out;
}
#nav-left:hover:before {
	top: -11px;
}
#nav-left:hover {
	height: 791px;
	transition: height 0.1s ease;
}
#nav-left-inner {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 393px;
	overflow: hidden;
	z-index: 2;
}
#nav-left:hover #nav-left-inner {
	width: 1818px;
}
.cat {
	width: 393px;
	min-height: 47px;
	display: flex;
}
.cat-title {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding: 14px 54px 15px 70px;
	background-color: white;
	display: flex;
	align-items: center;
	transition: background-color 0.3s ease, color 0.3s ease;

}
.cat-img {
	position: absolute;
	top: calc(50% - 14px);
	left: 19px;
	width: 28px;
	height: 28px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transition: filtter 0.3s ease;
}
.cat:hover .cat-img {
	-webkit-filter: contrast(0) brightness(2);
	filter: contrast(0) brightness(2);
}
.cat-title:after {
	content: '';
	position: absolute;
	/* top: 16px; */
	top: calc(50% - 8px);
	right: 23px;
	width: 11px;
	height: 11px;
	border-style: solid;
	border-width: 1.5px 1.5px 0 0;
	border-color: var(--text);
	border-radius: 1px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	transition: border-color 0.3s ease;
}
.cat:hover .cat-title:after {
	border-color: white;
}
.cat:hover .cat-title {
	background-color: var(--main);
	color: white;
}
.subcats {
	position: absolute;
	top: 0;
	left: 393px;
	height: 100%;
	visibility: hidden;
	background-color: white;
	display: flex;
	overflow: hidden;
}
.cat:hover .subcats {
	visibility: visible;
}
.sc-popular {
	padding-top: 22px;
	background-color: #f3f3f3;
	display: flex;
	flex-direction: column;
	width: 347px;
}
.sc-popular-title {
	margin: 0 auto 31px auto;
	color: #828282;
}
.sc-popular-a {
	margin: 0 auto 25px 33px;
}
.sc-col {
	padding-top: 22px;
	display: flex;
	flex-direction: column;
	width: 359px;
}
.sc-title {
	margin: 20px auto 20px 16px;
	font-weight: 500;
	color: var(--main);
}
.sc-title:first-child {
	margin-top: 0;
}
.sc-a {
	margin: 0 auto 15px 38px;
}
.cat-banner {
	width: 359px;
	display: flex;
}
.cat-banner-div {
	position: relative;
	margin: 24px 0 auto 11px;
}
.cat-banner-div img {
	max-width: 328px;
	max-height: 675px;
}
.cat-banner-div .btn {
	position: absolute;
	bottom: 29px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	padding-left: 35px;
	padding-right: 35px;
	display: flex;
	align-items: center;
}

#show-all-cats {
	position: absolute; 
	top: 590px;
	left: 50%;
	font-size: 20px;
	line-height: 22px;
	color: #515151;
	padding-right: 44px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 4;
	opacity: 1;
	visibility: visible;
	transition: top 0.3s ease, opacity 0.3s ease, visibility 0s linear 0s;
}
#show-all-cats:before {
	content: '';
	position: absolute;
	top: -3px;
	right: 0;
	width: 29px;
	height: 29px;
	border-radius: 15px;
	background-color: white;
	-moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
#show-all-cats:after {
	content: '';
	position: absolute;
	top: 4px;
	right: 9px;
	width: 10px;
	height: 10px;
	border-radius: 1px;
	box-sizing: border-box;
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: #515151;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
#nav-left:hover #show-all-cats {
	top: 749px;
	opacity: 0;
	visibility: hidden;
	transition: top 0.1s ease, opacity 0.1s ease, visibility 0s linear 0.1s;
}
/*-----e-nav-left-----------*/

/*-----b-main-slider--------*/
#main-carousel {
	position: relative;
}
#main-slick {
	margin: 26px 0 18px;
	max-width: 1356px;
	max-height: 444px;
	overflow: hidden;
}
#main-slick img {
	max-width: 1356px;
	max-height: 444px;
	object-position: center;
	object-fit: cover;
}
#main-slick-arrows {
	position: absolute;
	top: 217px;
	left: 0;
	right: 0;
}
.sl-arrow {
	position: absolute;
	top: 0;
	width: 77px;
	height: 77px;
	border-radius: 39px;
	background-color: white;
	-moz-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.sl-arrow:after {
	content: '';
	position: absolute;
	top: 24px;
	border-style: solid;
	border-color: var(--text);
	border-width: 0 0 2px 2px;
	width: 29px;
	height: 29px;
	border-radius: 2px;
}
.sl-arrow.l {
	left: -27px;
}
.sl-arrow.r {
	right: -27px;
}
.sl-arrow.l:after {
	left: 31px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.sl-arrow.r:after {
	right: 31px;
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

#main-sub-slick-outer {
	position: relative;
	height: 144px;
	overflow: hidden;
	width: 100%;
}
#main-sub-slick {
	position: absolute;
	top: 0;
	width: 1386px;
	left: -15px;
	/* якщо видимий елемент має бути скритим */
	/* width: 1848px;
	left: -477px; */
	overflow: hidden;
}
#main-sub-slick img {
	width: 432px;
	height: 144px;
	object-fit: cover;
	object-position: center;
	margin: 0 15px;
}

/*-----e-main-slider--------*/
/*----------e-main-section------------*/

/*----------b-sales-leaders-----------*/
#sales-leaders {
	display: flex;
	flex-direction: column;
	margin-top: 58px;
}

.row-items {
	display: flex;
	justify-content: space-between;
}

.item {
	position: relative;
	width: 277px;
	min-height: 350px;
	/* margin: 0 15px; */
	border-radius: 2px;
	display: flex;
	flex-direction: column;
	padding: 10px;
	box-sizing: border-box;
}
.item:last-child {
	margin-right: 0;
}

.item:before {
	z-index: -1;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: white;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	transition: top 0.3s ease, right 0.3s ease, bottom 0.3s ease, left 0.3s ease;
}
.item:hover:before {
	bottom: -28px;
	left: -6px;
	right: -6px;
}

.item-top-act {
	z-index: 1;
	position: absolute;
	top: 14px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	transition: right 0.3s ease;
}
.item-top-act-img {
	width: 100%;
	height: 100%;
	filter: grayscale(1) brightness(1.222);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
	transition: filter 0.3s ease;
}
.item-top-act:hover .item-top-act-img,
.item-top-act.active .item-top-act-img {
	filter: grayscale(0);
}

.item-compare {
	right: 59px;
}
.item-compare-img {
	background-image: url(../img/item-balance.svg);
}
.item-like {
	right: 14px;
}
.item-like-img {
	background-image: url(../img/item-heart.svg);
}
.item:hover .item-compare {
	right: 53px;
}
.item:hover .item-like {
	right: 8px;
}

.item-img-outer {
	/* margin: 0px auto 10px; */
	position: absolute;
	top: 10px;
	right: 10px;
	left: 10px;
	height: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: height 0.3s ease, right 0.3s ease, left 0.3s ease;
}
.item:hover .item-img-outer {
	right: 4px;
	left: 4px;
	height: 200px;
}
.item-img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.item-count-row {
	position: absolute;
	top: 200px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	display: flex;
	transition: top 0.3s ease;
}
.item:hover .item-count-row {
	top: 220px;
}
.item-count {
	background: #FFFFFF;
	/* border: 0.2px solid #262626; not rendered */
	border: 1px solid #26262633;
	box-sizing: border-box;
	border-radius: 2px;
	width: 41px;
	height: 24px;
	text-align: center;
}

.item-count-act {
	position: relative;
	width: 24px;
	height: 24px;
	margin: 0 2px;
}
.item-count-act:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 11px;
	height: 1px;
	border-radius: 2px;
	background-color: var(--text);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.item-inc:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1px;
	height: 11px;
	border-radius: 2px;
	background-color: var(--text);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.item-title {
	position: absolute;
	left: 14px;
	right: 14px;
	top: 240px;
	font-size: 16px;
	line-height: 140%;
	letter-spacing: 0.04em;
	transition: top 0.3s ease;
}
.item:hover .item-title {
	top: 260px;
}

.item-price-row {
	position: absolute;
	/* margin: 9px 9px 2px; */
	bottom: 12px;
	left: 11px;
	right: 14px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 25px;
	letter-spacing: 0.04em;
	transition: top 0.3s ease, right 0.3s ease, bottom 0.3s ease, left 0.3s ease;
}
.item:hover .item-price-row {
	bottom: -16px;
	left: 10px;
	right: 10px;
}

.item-price {
	padding-top: 2px;
}
.item-price:after {
	padding-left: 1ch;
	content: '₴';
	font-size: 14px;
}

.item-add {
	padding-top: 11px;
	padding-right: 48px;
	background-image: url(../img/addToCart.svg);
	background-position: right 24px center;
	background-repeat: no-repeat;
	background-size: 20px;
	transition: background-color 0.3s ease;
}
.item-add.more {
	background-color: #CB7106;
	padding-left: 12px;
	padding-right: 30px;
	background-position: right 11px center;
}
.item-add:hover {
	background-color: var(--text);
}

/*----------e-sales-leaders-----------*/






footer {
	margin-top: 100px;
}

